* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #fff;
    /* font-family: 'Fleur De Leah'; */
    font-family: 'Are You Serious';
    user-select: none;
}

body {
    background-color: #000;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
}

main {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.web {
    display: flexbox;
}

.l_web {
    background: url(spiderweb.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    transform: rotate(270deg);
    position: absolute;
    top: 0;
    left: 0;
}

.r_web {
    background: url(spiderweb1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
}

.spider {
    position: absolute;
    top: 0%;
    left: 50%;
}

.line {
    width: 0.19rem;
    height: 15rem;
    background-color: #000;
}

.spi {
    background: url(spider.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-48%);
    width: 70px;
    height: 70px;
    animation: up 2s ease-in-out infinite;
}

@keyframes up {
    0% {
        margin-top: 0px;
    }
    40% {
        margin-top: -50px;
    }
}

.bat {
    position: absolute;
    top: 0%;
    left: 30%;
    animation: fly 3s ease-in-out infinite;
    transform: translate(30px, 20px);
}

.bat .line {
    width: 0.19rem;
    height: 14rem;
    background-color: transparent;
}

.ba {
    background: url(bat.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-48%);
    width: 70px;
    height: 70px;
}

@keyframes fly {
    0% {
        transform: translate(30px, 20px);
    }
    40% {
        transform: translate(-30px, -20px);
    }
}

.pumpkin {
    position: absolute;
    top: 0%;
    left: 80%;
    animation: pfly 4s ease-in-out infinite;
    transform: rotate(20deg);
}

.pumpkin .line {
    width: 0.19rem;
    height: 14rem;
    background-color: transparent;
}

.pump {
    background: url(pumpkin.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-48%);
    width: 70px;
    height: 70px;
}

@keyframes pfly {
    0% {
        transform: rotate(20deg);
    }
    40% {
        transform: rotate(-20deg);
    }
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    padding: 0 2rem;
}

.home {
    background: url(halloween.gif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}

.make_up {
    background: url(makeup.gif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}

.trickortreat {
    background: url(tricktreat.gif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}

.game {
    background: url(games.gif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}

.text h1 {
    font-size: 4rem;
    padding-top: 3rem;
}

.box:nth-child(even) .pic {
    order: 2;
    display: flex;
    justify-content: right;
}

.text {
    text-align: center;
}

.text p {
    font-size: 2.5rem;
}

.orange {
    color: #ff5500;
}

.love_text {
    position: absolute;
    left: 1%;
    margin-top: -7%;
}

.love_text p {
    font-size: 2rem;
    color: #000;
    font-weight: bolder;
}

.ouija {
    background: url(ouija_c.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
}

.contact_me {
    position: absolute;
    right: 3.5%;
    margin-top: -10%;
}

.contact_me p {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: -8px;
    color: #000;
}

.love_text a,
.contact_me a {
    text-decoration: none;
    color: #000;
}

.love_text a:hover,
.contact_me a:hover {
    text-decoration: underline #000;
    text-decoration-style: double;
}


/* responsiveness */

@media (max-width:320px) {
    .l_web {
        width: 40px;
        height: 40px;
    }
    .r_web {
        width: 50px;
        height: 50px;
    }
    .line {
        width: 0.19rem;
        height: 4rem;
        background-color: #000;
    }
    .spi {
        width: 40px;
        height: 40px;
    }
    .bat {
        transform: translate(5px, 10px);
    }
    .bat .line {
        height: 4rem;
    }
    .ba {
        transform: translateX(-80%);
        width: 40px;
        height: 40px;
    }
    @keyframes fly {
        0% {
            transform: translate(5px, 10px);
        }
        40% {
            transform: translate(-5px, -10px);
        }
    }
    .pumpkin {
        transform: rotate(20deg);
    }
    .pumpkin .line {
        width: 0.19rem;
        height: 5rem;
    }
    .pump {
        width: 40px;
        height: 40px;
    }
    .box {
        display: block;
        margin-bottom: 3rem;
    }
    .home {
        width: 230px;
        height: 230px;
    }
    .make_up {
        width: 230px;
        height: 230px;
    }
    .trickortreat {
        width: 230px;
        height: 230px;
    }
    .game {
        width: 230px;
        height: 230px;
    }
    .text h1 {
        font-size: 1.7rem;
        padding-top: 0;
    }
    .box:nth-child(even) .pic {
        order: 2;
        display: flex;
        justify-content: center;
    }
    .pic {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .text p {
        font-size: 1.2rem;
    }
    .love_text {
        left: 1%;
        margin-top: -11%;
    }
    .love_text p {
        font-size: 0.8rem;
    }
    .contact_me {
        display: none;
    }
}

@media (min-width:326px) and (max-width:375px) {
    .l_web {
        width: 48px;
        height: 48px;
    }
    .r_web {
        width: 50px;
        height: 50px;
    }
    .line {
        width: 0.19rem;
        height: 4rem;
        background-color: #000;
    }
    .spi {
        width: 40px;
        height: 40px;
    }
    @keyframes up {
        0% {
            margin-top: 0px;
        }
        40% {
            margin-top: -30px;
        }
    }
    .bat {
        transform: translate(5px, 10px);
    }
    .bat .line {
        height: 4rem;
    }
    .ba {
        transform: translateX(-80%);
        width: 40px;
        height: 40px;
    }
    @keyframes fly {
        0% {
            transform: translate(5px, 10px);
        }
        40% {
            transform: translate(-5px, -10px);
        }
    }
    .pumpkin {
        transform: rotate(20deg);
    }
    .pumpkin .line {
        width: 0.19rem;
        height: 5rem;
    }
    .pump {
        width: 40px;
        height: 40px;
    }
    .box {
        display: block;
        margin-bottom: 4rem;
    }
    .home {
        width: 250px;
        height: 250px;
    }
    .make_up {
        width: 250px;
        height: 250px;
    }
    .trickortreat {
        width: 250px;
        height: 250px;
    }
    .game {
        width: 250px;
        height: 250px;
    }
    .text h1 {
        font-size: 1.9rem;
        padding-top: 0;
    }
    .box:nth-child(even) .pic {
        order: 2;
        display: flex;
        justify-content: center;
    }
    .pic {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .text p {
        font-size: 1.4rem;
    }
    .love_text {
        left: 1%;
        margin-top: -9%;
    }
    .love_text p {
        font-size: 0.8rem;
    }
    .contact_me {
        display: none;
    }
}

@media (min-width:376px) and (max-width:425px) {
    .l_web {
        width: 58px;
        height: 58px;
    }
    .r_web {
        width: 58px;
        height: 58px;
    }
    .line {
        width: 0.19rem;
        height: 4rem;
        background-color: #000;
    }
    .spi {
        width: 40px;
        height: 40px;
    }
    @keyframes up {
        0% {
            margin-top: 0px;
        }
        40% {
            margin-top: -30px;
        }
    }
    .bat {
        transform: translate(5px, 10px);
    }
    .bat .line {
        height: 4rem;
    }
    .ba {
        transform: translateX(-80%);
        width: 40px;
        height: 40px;
    }
    @keyframes fly {
        0% {
            transform: translate(5px, 10px);
        }
        40% {
            transform: translate(-5px, -10px);
        }
    }
    .pumpkin .line {
        width: 0.19rem;
        height: 5rem;
    }
    .pump {
        width: 40px;
        height: 40px;
    }
    .box {
        display: block;
        margin-bottom: 4rem;
    }
    .home {
        width: 300px;
        height: 300px;
    }
    .make_up {
        width: 300px;
        height: 300px;
    }
    .trickortreat {
        width: 300px;
        height: 300px;
    }
    .game {
        width: 300px;
        height: 300px;
    }
    .text h1 {
        font-size: 2.3rem;
        padding-top: 0;
    }
    .box:nth-child(even) .pic {
        order: 2;
        display: flex;
        justify-content: center;
    }
    .pic {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .text p {
        font-size: 1.8rem;
    }
    .love_text {
        left: 1%;
        margin-top: -10%;
    }
    .love_text p {
        font-size: 1rem;
    }
    .contact_me {
        display: none;
    }
}

@media (min-width:426px) and (max-width:500px) {
    .l_web {
        width: 58px;
        height: 58px;
    }
    .r_web {
        width: 58px;
        height: 58px;
    }
    .line {
        width: 0.19rem;
        height: 4rem;
        background-color: #000;
    }
    .spi {
        width: 40px;
        height: 40px;
    }
    @keyframes up {
        0% {
            margin-top: 0px;
        }
        40% {
            margin-top: -30px;
        }
    }
    .bat {
        transform: translate(5px, 10px);
    }
    .bat .line {
        height: 4rem;
    }
    .ba {
        transform: translateX(-80%);
        width: 40px;
        height: 40px;
    }
    @keyframes fly {
        0% {
            transform: translate(5px, 10px);
        }
        40% {
            transform: translate(-5px, -10px);
        }
    }
    .pumpkin .line {
        width: 0.19rem;
        height: 3rem;
    }
    .pump {
        width: 40px;
        height: 40px;
    }
    .box {
        display: block;
        margin-bottom: 4rem;
    }
    .home {
        width: 320px;
        height: 320px;
    }
    .make_up {
        width: 320px;
        height: 320px;
    }
    .trickortreat {
        width: 320px;
        height: 320px;
    }
    .game {
        width: 320px;
        height: 320px;
    }
    .text h1 {
        font-size: 2.3rem;
        padding-top: 0;
    }
    .box:nth-child(even) .pic {
        order: 2;
        display: flex;
        justify-content: center;
    }
    .pic {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .text p {
        font-size: 1.8rem;
    }
    .love_text {
        left: 1%;
        margin-top: -10%;
    }
    .love_text p {
        font-size: 1rem;
    }
    .contact_me {
        display: none;
    }
}

@media (min-width:501px) and (max-width:768px) {
    .l_web {
        width: 105px;
        height: 105px;
    }
    .r_web {
        width: 105px;
        height: 105px;
    }
    .line {
        width: 0.19rem;
        height: 10rem;
        background-color: #000;
    }
    @keyframes up {
        0% {
            margin-top: 0px;
        }
        40% {
            margin-top: -30px;
        }
    }
    .bat .line {
        height: 8rem;
    }
    .pumpkin .line {
        height: 10rem;
    }
    .box {
        display: block;
        padding-bottom: 4rem;
    }
    .home {
        width: 380px;
        height: 380px;
    }
    .make_up {
        width: 380px;
        height: 380px;
    }
    .trickortreat {
        width: 380px;
        height: 380px;
    }
    .game {
        width: 380px;
        height: 380px;
    }
    .text h1 {
        font-size: 3.5rem;
        padding-top: 0;
    }
    .box:nth-child(even) .pic {
        order: 2;
        display: flex;
        justify-content: center;
    }
    .pic {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .text p {
        font-size: 2.8rem;
    }
    .love_text {
        left: 1%;
        margin-top: -8%;
    }
    .love_text p {
        font-size: 1.7rem;
    }
    .contact_me {
        display: none;
    }
}

@media (min-width:769px) and (max-width:900px) {
    .contact_me {
        display: none;
    }
}